html, body {
  width: 100%;
  height:100%;
}

body {
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

    background-size: 1000% 1000%;
    animation: gradient 15s ease infinite;
    font-family: 'Montserrat', sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
